---
import { siteConfig } from "@/lib/config";

const { ctaSection } = siteConfig;
---

<section id="cta" class="flex flex-col items-center justify-center w-full">
  <div class="w-full">
    <div class="h-[400px] md:h-[400px] overflow-hidden shadow-xl w-full border border-border rounded-xl bg-secondary relative z-20">
      <img
        src={ctaSection.backgroundImage}
        alt=""
        role="presentation"
        class="absolute inset-0 w-full h-full object-cover object-right md:object-center"
      />
      <div class="absolute inset-0 -top-32 md:-top-40 flex flex-col items-center justify-center">
        <h1 class="text-white text-4xl md:text-6xl font-medium tracking-tighter max-w-md md:max-w-3xl text-center">
          {ctaSection.title}
        </h1>
        <div class="absolute bottom-10 flex flex-col items-center justify-center gap-2">
          <a
            href={ctaSection.button.href}
            class="bg-white text-black font-semibold text-sm h-10 w-fit px-4 rounded-full flex items-center justify-center shadow-md"
          >
            {ctaSection.button.text}
          </a>
          <span class="text-white text-sm">{ctaSection.subtext}</span>
        </div>
      </div>
    </div>
  </div>
</section>
